*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
    width: 100%;
    font-family: 'Lato';
    font-size: 16px;
}


/* sytle do haeder da pagina  */
header{
    background-image: url('../img/imag_header/image\ 1.png');
    width: 1600px;
    height: 900px;
}

/* section cafe magico */
.section-cafemagico{
    background-color: #FFFCF6;
}

/* section cafe */
.section-cafe{
    background-color: #FFFCF6;
}

.section-cafe-1 {
    display: flex;
}

.linha_cafe1{
    margin: 10px 10px;
    background-color: #F7F1E6;
}

.section-cafe-2 {
    display: flex;
}

.linha_cafe2{
    margin: 10px 10px;
    background-color: #F7F1E6;
}

.linha-button-color{
    background: #0B1D03;
}

/* section catálago e acessórios  */
.catalogo{
    background-image: url('../img/imag_main/catalago.png');
    width: 704px;
    height: 560px;
}
.acessorios{
    background-image: url('../img/imag_main/acessorios.png');
    width: 704px;
    height: 560px;
}
/* aside */
.aside {
    background-color: #FFFCF6;
}
/* section map */
.map {
    background-color: #FFFFFF;
}
.imputs{
    display: flex;
}
.input-endereco{
    background-image: url('../img/imag_main/lupa.png');
    background-repeat: no-repeat;
}
/* footer cafe */
.footer-cafe {
    background-color: #F7F1E6;
    width: 100%;
}